{% extends "base.html" %}

{% block main %}
<h1>商品登録完了</h1>
<p>商品の登録が完了しました！</p>

<!-- 1つ目のモデルを表示 -->
<section>
  <h2>商品情報登録一覧</h2>
  <table class="table">
    <thead>
      <tr>
        <th>商品名</th>
        <th>商品詳細</th>
        <th>商品金額</th>
        <th>登録日時</th>
      </tr>
    </thead>
    <tbody>
      <!-- 1つ目のモデルの表示処理 -->
      {% for lo in list_objects %}
      <tr>
        <td>{{ lo.name }}</td>
        <td>{{ lo.detail }}</td>
        <td>{{ lo.price }}</td>
        <td>{{ lo.created_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- ページネーションを表示 -->
  {% include "include/list/pagination.html" with page_obj=page_obj search_word=search_word %}
</section>

<!-- 2つ目のモデルを表示 -->
<section>
  <h2>商品管理者登録一覧</h2>
  <table class="table">
    <thead>
      <tr>
        <th>担当者名</th>
        <th>メールアドレス</th>
        <th>電話番号</th>
      </tr>
    </thead>
    <tbody>
      <!-- 2つ目のモデルの表示処理 -->
      {% for product_manager in product_managers %}
      <tr>
        <td>{{ product_manager.name }}</td>
        <td>{{ product_manager.email }}</td>
        <td>{{ product_manager.phone_number }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}